{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	<link href="{{ asset('css/daily-gratitude.css') }}" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

	<div class="main-container">

		<div class="logo-container">
			<img src="/img/logo-white.png">
		</div>


		<div class="completion-bar-container">

			<div class="completion-bar">
				<div class="completion-bar-slider"></div>
			</div>
			<i class="fa fa-check"></i>

		</div>


		<div class="gratitude-item-container transition-all">

			<div class="gratitude-item">
				<i data-toggle="tooltip" data-placement="left" title="I want to remember this!" class="favorite fa fa-star-o"></i>
				<h2>1.</h2>
				<textarea rows="1" class="form-control input-clean"></textarea>
			</div>

			<div class="gratitude-item">
				<i data-toggle="tooltip" data-placement="left" title="I want to remember this!" class="favorite fa fa-star-o"></i>
				<h2>2.</h2>
				<textarea rows="1" class="form-control input-clean"></textarea>
			</div>

			<div class="gratitude-item">
				<i data-toggle="tooltip" data-placement="left" title="I want to remember this!" class="favorite fa fa-star-o"></i>
				<h2>3.</h2>
				<textarea rows="1" class="form-control input-clean"></textarea>
			</div>

			<div class="gratitude-item">
				<i data-toggle="tooltip" data-placement="left" title="I want to remember this!" class="favorite fa fa-star-o"></i>
				<h2>4.</h2>
				<textarea rows="1" class="form-control input-clean"></textarea>
			</div>

			<div class="gratitude-item">
				<i data-toggle="tooltip" data-placement="left" title="I want to remember this!" class="favorite fa fa-star-o"></i>
				<h2>5.</h2>
				<textarea rows="1" class="form-control input-clean"></textarea>
			</div>

			<div id="btn_submit" class="btn btn-lg btn-success"><i class="fa fa-send-o"></i>&nbsp;&nbsp;SUBMIT!</div>

		</div>


	</div>
 


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/daily-gratitude.js') }}" type="text/javascript"></script>

{% endblock %}