.dashboard-container {
	padding: 20px;
}

.welcome-message {
	text-align: center;	
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-message img {
	height: 75px;
}

.daily-streak-container {
	margin-top: 0;
}
.daily-streak-container span {
	font-weight: 700;
	/*color: #1abc9c;*/
}

.btn-daily-gratitude-container {
	text-align: center;
}

.quote-container {
	text-align: center;
}
.quote-container h2 {
    width: 770px;
    margin: auto;
    font-size: 21px;
    line-height: 1.4;
    margin-top: 20px;
}